.avatar {
    width: 10em;
    height: 10em;
    background-image: url(./images/profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border-width: 0.25em;
    border-style: solid;
    border-color: white;
    margin-bottom: .25em;
    overflow: hidden;
}

.avatar:hover {
    border-color: #DDD;
}

.text--hover {
    width: 100%;
    height: 100%;
    display: flex;
    color: transparent;
    justify-content: center;
    align-items: flex-end;
}

.text--hover .text-item--hover{
    text-decoration: none;
    transition: 0.3s linear;
    height: 24%;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translate(0, 60%);
    padding-top: 0.25rem;
    opacity: 0;
}

.text--hover:hover .text-item--hover{
    transform: translate(0, 0);
    opacity: 1;
}

.text {
    text-align: center;
    padding-top: 1em;
}

.text-description {
    color: rgb(195, 195, 195);
}
